.station-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.station-list li {
  margin-bottom: 20px;
}

.station-list button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: none;
  border: none;
  text-align: left;
  color: #17a2b8;
  border-color: #17a2b8;
  padding: 20px;
}

.details-table {
  background: none;
}

.details-table tr {
  justify-content: space-between;
  background-color: #f0f8ff;
  border: none;
  text-align: left;
  color: #17a2b8;
  border-width: 0px;
  padding: 20px;
}

.details-table tbody {
  margin-bottom: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
